<!DOCTYPE html>
<html data-wf-domain="vacationtemplate.webflow.io"
      data-wf-page="60e799b89fa39e6529ef1001"
      data-wf-site="60e5cb5a711f56fa1893d065"
      data-wf-status="1">
<head>
    <meta charset="utf-8" />
    <title>Home - Vacation - Webflow HTML website template</title>
    <meta content="Vacation is a premium Webflow Template for lifestyle bloggers. Ideal for casual writers that want to engage with their audience."
          name="description" />
    <meta content="Home - Vacation - Webflow HTML website template"
          property="og:title" />
    <meta content="Vacation is a premium Webflow Template for lifestyle bloggers. Ideal for casual writers that want to engage with their audience."
          property="og:description" />
    <meta content="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e899643d36c07816936774_Open%20Graph.jpg"
          property="og:image" />
    <meta content="Home - Vacation - Webflow HTML website template"
          property="twitter:title" />
    <meta content="Vacation is a premium Webflow Template for lifestyle bloggers. Ideal for casual writers that want to engage with their audience."
          property="twitter:description" />
    <meta content="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e899643d36c07816936774_Open%20Graph.jpg"
          property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="~/css/vacationtemplate.webflow.b081ee3c4.css"
          rel="stylesheet"
          type="text/css" />
    <script src="../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
            type="text/javascript"></script>
 @*   <link href="~/Images/60e5cb5a711f56729893d0c5_favicon.png"
          rel="shortcut icon"
          type="image/x-icon" />*@
    <link href="~/Images/60e5cb5a711f56718593d0c6_webclip.png"
          rel="apple-touch-icon" />
    <style>
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body>
    <div data-w-id="1ca8d404-8d64-f413-6d62-c84f24356277"
         class="page-preloader">
        <div class="image preloader brand" loading="lazy"
             width="120"
             data-w-id="1ca8d404-8d64-f413-6d62-c84f24356278"
            >
            OneBlog
        </div>
    </div>
    <div data-collapse="medium"
         data-animation="default"
         data-duration="400"
         data-easing="ease"
         data-easing2="ease"
         role="banner"
         class="header w-nav">
        <div class="header-wrapper">
            <div class="container w-container">
                <div class="top-bar-wrapper">
                    <div class="content-wrapper">
                        <a asp-controller="Home" asp-action="Index" 
                           aria-current="page"
                           class="brand w-nav-brand w--current">
                            OneBlog
                        </a>
                    </div>
                    <div class="content-wrapper header-right">
                        <nav role="navigation" class="nav-menu w-nav-menu">
                            <a asp-controller="Blog" asp-action="Index" class="nav-link w-nav-link">Blog</a><a asp-controller="Home" asp-action="About" class="nav-link w-nav-link">About</a><a asp-controller="Home" asp-action="Contact" class="nav-link w-nav-link">Contact</a>
                        </nav>
                        <div data-w-id="0dc7c101-cdd4-1119-dd40-7c66b9c88e62"
                             class="header-search-wrapper">
                            <div class="icon small"></div>
                        </div>
                        <div class="menu-button w-nav-button">
                            <div class="icon small"></div>
                        </div>
                    </div>
                </div>
                <div class="search-wrapper">
                    <div class="search-form">
                        <div class="search-bar">
                            <div class="container w-container">
                                <form action="https://vacationtemplate.webflow.io/search"
                                      class="search w-form">
                                    <div class="search-input-wrapper">
                                        <input type="search"
                                               class="input search-header w-input"
                                               maxlength="256"
                                               name="query"
                                               placeholder="Search…"
                                               id="search-3"
                                               required="" />
                                        <div data-w-id="77a71328-647d-07bd-ae57-1fa5ae369ffd"
                                             class="icon small search">
                                            
                                        </div>
                                    </div>
                                    <input type="submit"
                                           value="Search"
                                           class="button-primary w-button" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div data-w-id="0dc7c101-cdd4-1119-dd40-7c66b9c88e6d"
                         class="search-overlay"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="section newsletter wf-section">
        <div class="container w-container">
            <div class="content-wrapper newsletter">
                <h2 class="title newsletter">Want to receive emails?</h2>
                <p class="paragraph newsletter">
                    Sign up to get an email every time a new blog is published. Only
                    happens once a month!
                </p>
                <div class="newsletter-form w-form">
                    <form id="email-form"
                          name="email-form"
                          data-name="Email Form"
                          method="get"
                          class="newsletter-form-wrapper">
                        <input type="email"
                               class="input newsletter w-input"
                               maxlength="256"
                               name="email-2"
                               data-name="Email 2"
                               placeholder="Your email"
                               id="email-2"
                               required="" /><input type="submit"
                                                    value="Subscribe"
                                                    data-wait="Please wait..."
                                                    class="button-primary w-button" />
                    </form>
                    <div class="success-message w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f565bcb93d0ba_Pattern Right.svg"
             loading="lazy"
             alt=""
             class="pattern-right-bottom" /><img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f566de993d0bb_Pattern Left.svg"
                                                 loading="lazy"
                                                 alt=""
                                                 class="pattern-left-top" />
    </div>
    <footer class="footer wf-section">
        <div class="divider footer"></div>
        <div class="container w-container">
            <div class="content-bottom footer">
                <div class="content-wrapper footer-bottom">
                    <div class="footer-credits">
                        <div class="footer-credits-item">
                            © OneBlog by
                            <a href="https://minimal-square.webflow.io/"
                               class="footer-credits-link">IB</a>.
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="footer-social-media-wrapper">
                        <a href="https://twitter.com/"
                           class="footer-social-media-link w-inline-block"><div class="icon small"></div></a><a href="https://facebook.com/"
                                                                                                                 class="footer-social-media-link w-inline-block"><div class="icon small"></div></a><a href="https://instagram.com/"
                                                                                                                                                                                                       class="footer-social-media-link w-inline-block"><div class="icon small"></div></a><a href="https://pinterest.com/"
                                                                                                                                                                                                                                                                                             class="footer-social-media-link w-inline-block"><div class="icon small"></div></a><a href="https://youtube.com/"
                                                                                                                                                                                                                                                                                                                                                                                   class="footer-social-media-link w-inline-block"><div class="icon small"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"
            type="text/javascript"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="~/js/webflow.b654de075.js"
            type="text/javascript"></script>
</body>
</html>
