
@{
    ViewData["Title"] = "Contact";
}

<div class="section contact-hero wf-section">
    <div class="container w-container">
        <div class="hero">
            <div class="content-wrapper contact-hero-info">
                <h1 class="title">
                    <strong>I&#x27;m looking forward to finally meet you</strong>
                </h1>
                <p class="paragraph contact-hero">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis cursus,
                    mi quis viverra ornare.
                </p>
            </div>
        </div>
        <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f565bcb93d0ba_Pattern Right.svg"
             loading="lazy"
             alt=""
             class="image pattern-contact-hero" />
    </div>
</div>
<div class="section contact-hero-image wf-section">
    <div class="container w-container">
        <div class="content-wrapper contact-hero-image">
            <img data-w-id="d66dd4ee-957f-eb1f-9d61-1763fbaebea8"
                 loading="lazy"
                 src="~/Images/60e8d789e9595969a2aa6ecc_Contact-Hero-Image%201.jpg"
                 width="1312"
                 alt=""
                 class="image contact-hero" />
        </div>
        <div class="bg contact-hero-image"></div>
    </div>
</div>
<div class="section wf-section">
    <div class="container w-container">
        <div class="content-wrapper contact-info">
            <div class="contact-about-wrapper">
                <h2 class="title">Let&#x27;s get in touch</h2>
                <p class="paragraph-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis cursus,
                    mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
                    libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
                    lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                </p>
                <a href="tel:+5558830653" class="link contact-phone">(555) 883 0653</a><a href="mailto:example@gmail.com" class="link contact-email">contact@vacationtemplate.com</a>
            </div>
            <div class="contact-form w-form">
                <form id="email-form"
                      name="email-form"
                      data-name="Email Form"
                      method="get">
                    <input type="text"
                           class="input margin-bottom-16 w-input"
                           maxlength="256"
                           name="name"
                           data-name="Name"
                           placeholder="Your name"
                           id="name"
                           required="" /><input type="email"
                                                class="input margin-bottom-16 w-input"
                                                maxlength="256"
                                                name="email"
                                                data-name="Email"
                                                placeholder="Your email"
                                                id="email"
                                                required="" /><textarea placeholder="Enter your message here..."
                                                                        maxlength="5000"
                                                                        id="field"
                                                                        name="field"
                                                                        required=""
                                                                        data-name="field"
                                                                        class="textarea margin-bottom-16 w-input"></textarea><input type="submit"
                                                                                                                                    value="Submit"
                                                                                                                                    data-wait="Please wait..."
                                                                                                                                    data-w-id="8ba0c896-d7c2-2b89-8f75-ec231c59cfce"
                                                                                                                                    class="button-primary w-button" />
                </form>
                <div class="success-message w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
