
@{
    ViewData["Title"] = "Index";
}

<div class="section home-hero wf-section">
    <div class="container w-container">
        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div class="home-hero-wrapper">
                        <div class="content-wrapper home-hero-left">
                            <div class="tagline home-hero">Featured post</div>
                            <h1 class="title">Day trips around Arizona</h1>
                            <p class="paragraph home-hero">
                                Est blanditiis amet hic laborum qui quo non non. Voluptas
                                eaque autem laborum architecto provident quo perferendis
                                necessitatibus perferendis. Veniam unde provident aliquam
                                quia.
                            </p>
                            <a href="post/day-trips-around-arizona.html"
                               class="button-primary w-button">Read more</a>
                        </div>
                        <div class="content-wrapper home-hero-right">
                            <div class="home-hero-badge">
                                <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f56585293d0ca_Vacation Badge.svg"
                                     loading="lazy"
                                     alt=""
                                     class="image" />
                            </div>
                            <a href="post/day-trips-around-arizona.html"
                               class="link-block home-hero-image w-inline-block">
                                <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona 1.jpg"
                                     loading="lazy"
                                     data-w-id="5f3ab02a-92d0-00a7-a401-5f3d8de8ec4f"
                                     alt=""
                                     class="image home-hero-image" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f565bcb93d0ba_Pattern Right.svg"
         loading="lazy"
         alt=""
         class="pattern-right-bottom" /><img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f566de993d0bb_Pattern Left.svg"
                                             loading="lazy"
                                             alt=""
                                             class="pattern-left-top" />
</div>
<div class="section trending-posts wf-section">
    <div class="container w-container">
        <div class="content-wrapper">
            <div id="w-node-_28641246-03f1-19f1-fb6b-d043a2a99886-29ef1001"
                 class="content-top home-trending-posts">
                <h2 class="title home-trending-posts">Trending posts</h2>
                <a id="w-node-_3698f023-fbcf-4f47-5433-58c86bbef8a0-29ef1001"
                   href="blog.html"
                   class="button-secondary w-button">View all posts</a>
            </div>
            <div class="content-bottom">
                <div class="w-dyn-list">
                    <div role="list" class="trending-posts-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/day-trips-around-arizona.html"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/day-trips-around-arizona.html"
                                           class="category-badge w-inline-block"><div>Europe</div></a>
                                    </div>
                                    <a href="post/day-trips-around-arizona.html"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            Day trips around Arizona
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">8 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/a-perfect-10-day-italy-road-trip-itinerary.html"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/a-perfect-10-day-italy-road-trip-itinerary.html"
                                           class="category-badge w-inline-block"><div>Ocean</div></a>
                                    </div>
                                    <a href="post/a-perfect-10-day-italy-road-trip-itinerary.html"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            A perfect 10-day Italy road trip itinerary
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">12 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/tips-for-getting-around-in-rome"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/tips-for-getting-around-in-rome"
                                           class="category-badge w-inline-block"><div>Europe</div></a>
                                    </div>
                                    <a href="post/tips-for-getting-around-in-rome"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            Tips for getting around in Rome
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">5 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/beat-the-winter-blues-by-visiting-these-chicago-attraction.html"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60eb466172833f62466e0b7e_Chicago%20Main%20Image.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/beat-the-winter-blues-by-visiting-these-chicago-attraction.html"
                                           class="category-badge w-inline-block"><div>Highlights</div></a>
                                    </div>
                                    <a href="post/beat-the-winter-blues-by-visiting-these-chicago-attraction.html"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            Beat the winter blues by visiting these Chicago
                                            attractions
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">9 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/featured-itinerary-48-hours-of-romance-in-sedona"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60eb470f60e51c15f57751d9_Sedona%20Main%20Image.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/featured-itinerary-48-hours-of-romance-in-sedona"
                                           class="category-badge w-inline-block"><div>Highlights</div></a>
                                    </div>
                                    <a href="post/featured-itinerary-48-hours-of-romance-in-sedona"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            Featured itinerary: 48 hours of romance in Sedona
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">12 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a href="post/5-things-tourists-should-never-do-in-japan"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60eb47c46ad8524d58ae9d8e_Japan%20Main%20Image.jpg"
                                         loading="lazy"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/5-things-tourists-should-never-do-in-japan"
                                           class="category-badge w-inline-block"><div>Asia</div></a>
                                    </div>
                                    <a href="post/5-things-tourists-should-never-do-in-japan"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                            5 things tourists should never do in Japan
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">July 12, 2021</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">5 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section about wf-section">
    <div class="container w-container">
        <div class="home-about-wrapper">
            <div class="content-wrapper home-about-left">
                <div class="home-about-text">
                    <h2 class="title home-about">A few words about me</h2>
                    <p class="paragraph home-about-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique. Duis
                        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                        commodo diam.
                    </p>
                </div>
                <a href="about.html" class="button-secondary w-button">Read more</a>
            </div>
            <div class="content-wrapper home-about-right">
                <a href="about.html"
                   class="link-block home-about-image-link w-inline-block">
                    <img data-w-id="9e472b0c-2bb8-05ce-b4f2-b3995c3eb854"
                         loading="lazy"
                         width="1312"
                         src="~/Images/60e601bf8e224d0c4f2ed1a6_Image 11.jpg"
                         alt=""
                         class="image home-about" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section recent-posts wf-section">
    <div class="container w-container">
        <div class="content-wrapper recent-posts">
            <h2 class="title recent-posts">Recent posts</h2>
            <a href="blog.html" class="button-secondary w-button">View all posts</a>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="recent-posts-list w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="post/day-trips-around-arizona.html"
                           class="link-block card-image w-inline-block">
                            <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201-p-500.jpeg  500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201-p-800.jpeg  800w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg        2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="category/europe"
                                   class="category-badge w-inline-block"><div>Europe</div></a>
                            </div>
                            <a href="post/day-trips-around-arizona.html"
                               class="link-block recent-post w-inline-block">
                                <h3 class="title recent-post">
                                    Day trips around Arizona
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">8 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="post/a-perfect-10-day-italy-road-trip-itinerary.html"
                           class="link-block card-image w-inline-block">
                            <img src="~/Images/BlogImages/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image-p-500.jpeg  500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image.jpg        2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="category/ocean"
                                   class="category-badge w-inline-block"><div>Ocean</div></a>
                            </div>
                            <a href="post/a-perfect-10-day-italy-road-trip-itinerary.html"
                               class="link-block recent-post w-inline-block">
                                <h3 class="title recent-post">
                                    A perfect 10-day Italy road trip itinerary
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">12 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="post/tips-for-getting-around-in-rome"
                           class="link-block card-image w-inline-block">
                            <img src="~/Images/BlogImages/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-500.jpeg   500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-800.jpeg   800w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-1080.jpeg 1080w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image.jpg         2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="category/europe"
                                   class="category-badge w-inline-block"><div>Europe</div></a>
                            </div>
                            <a href="post/tips-for-getting-around-in-rome"
                               class="link-block recent-post w-inline-block">
                                <h3 class="title recent-post">
                                    Tips for getting around in Rome
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">5 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container w-container">
    <div class="divider margin-top-128"></div>
</div>
<div class="section tags wf-section">
    <div class="container w-container">
        <div class="content-wrapper home-tags">
            <h2 class="title home-tags">Most popular</h2>
            <div class="w-dyn-list">
                <div role="list" class="home-tags-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/food" class="link-block tag w-inline-block"><div>Food</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/adventure" class="link-block tag w-inline-block"><div>Adventure</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/lifestyle" class="link-block tag w-inline-block"><div>Lifestyle</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/restaurants.html"
                           class="link-block tag w-inline-block"><div>Restaurants</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/transport" class="link-block tag w-inline-block"><div>Transport</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/arizona.html" class="link-block tag w-inline-block"><div>Arizona</div></a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="tag/japan" class="link-block tag w-inline-block"><div>Japan</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
