
@{
    ViewData["Title"] = "Detail";
}
<div class="section article-hero wf-section">
    <div class="container w-container">
        <div class="content-wrapper article-hero">
            <a href="../author/raymond-sowie"
               class="link-block article-author-hero w-inline-block">
                <img height=""
                     loading="lazy"
                     src="~/Images/BlogImages/60eb6d96b792b71cd94d723c_Raymond%20Sowle%20Author%20Hero.jpg"
                     alt=""
                     class="image article-author" />
                <p class="paragraph-small article-author">Raymond Sowie</p>
            </a>
            <div class="article-hero-title">
                <h1 class="title">Day trips around Arizona</h1>
                <p class="paragraph article-hero">
                    Est blanditiis amet hic laborum qui quo non non. Voluptas eaque
                    autem laborum architecto provident quo perferendis necessitatibus
                    perferendis. Veniam unde provident aliquam quia.
                </p>
            </div>
            <div class="article-details">
                <a id="w-node-_2368aa21-d1bb-b07a-9422-cd339e2febbd-b2ef100f"
                   href="../category/europe"
                   class="article-category-link w-inline-block"><div class="article-category-name">Europe</div></a>
                <div class="article-date-time">
                    <div class="tagline">July 12, 2021</div>
                    <div class="tagline article"><strong>•</strong></div>
                    <div class="tagline">8 min read</div>
                </div>
            </div>
        </div>
    </div>
    <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f566de993d0bb_Pattern Left.svg"
         loading="lazy"
         alt=""
         class="pattern-left-top" />
</div>
<div class="section article-hero-image wf-section">
    <div class="container w-container">
        <div class="content-wrapper article-main-image">
            <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg"
                 loading="lazy"
                 data-w-id="03b271fa-92fe-4da6-7339-47f7a5ae9bb7"
                 alt=""
                 class="image article-hero" />
        </div>
    </div>
    <div class="content-wrapper article-background">
        <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f565bcb93d0ba_Pattern Right.svg"
             loading="lazy"
             alt=""
             class="pattern-right-bottom" />
    </div>
</div>
<div class="section article-content wf-section">
    <div class="container w-container">
        <div class="content-wrapper article-content">
            <div id="w-node-_21ce002a-ccf2-84a5-ca8c-34d81e790367-b2ef100f"
                 class="rich-text-wrapper">
                <div class="article article-content w-richtext">
                    <h2>The steps covered in this guide</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <ol start="" role="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Labore et dolore magna aliqua</li>
                    </ol>
                    <h3>Why you should start traveling</h3>
                    <p>
                        Et qui et quae et maxime assumenda. Suscipit voluptatum in
                        fugiat. A sapiente eveniet doloremque asperiores numquam
                        voluptatem. Beatae illo commodi. Sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum
                    </p>
                    <figure style="max-width: 2624pxpx"
                            class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                        <div>
                            <img src="~/Images/BlogImages/60eb3219336c29021a63b83c_Arizona%204.jpg"
                                 loading="lazy"
                                 alt="" />
                        </div>
                    </figure>
                    <h4><strong>Choose your preferred destination</strong></h4>
                    <p>
                        Et qui et quae et maxime assumenda. Suscipit voluptatum in
                        fugiat. A sapiente eveniet doloremque asperiores numquam
                        voluptatem. Beatae illo commodi. Onsectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                    <blockquote>
                        Ut porro aperiam dolores. Maxime aut rerum corporis est iusto
                        quod molestiae ut quisquam.
                    </blockquote>
                    <h5>Keep it simple</h5>
                    <p>
                        Quisquam ea quos quisquam velit debitis. Ut cumque eius. Dolor
                        molestias voluptatem in. Et blanditiis perferendis aperiam illum
                        molestiae molestiae corporis. Consequatur quae accusamus
                        provident qui. Est dolorem ut sint aliquid et et placeat eum
                        minima. Osmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum
                    </p>
                    <ul role="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Labore et dolore magna aliqua</li>
                    </ul>
                    <figure style="max-width:2624pxpx"
                            class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                        <div>
                            <img src="~/Images/BlogImages/60eb323bcfd937893a0adc2f_Arizona%202.jpg"
                                 loading="lazy"
                                 alt="" />
                        </div>
                        <figcaption>Dicta corporis occaecati</figcaption>
                    </figure>
                    <h6>Useful resources for beginners</h6>
                    <p>
                        Voluptates autem placeat in amet blanditiis. Enim aut sed qui.
                        Dicta corporis occaecati aut. Ea architecto dolores est culpa
                        repellat delectus. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="tags-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a href="../tag/adventure"
                               class="link-block tag w-inline-block"><div>Adventure</div></a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <a href="../tag/arizona.html"
                               class="link-block tag w-inline-block"><div>Arizona</div></a>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <a href="../tag/lifestyle"
                               class="link-block tag w-inline-block"><div>Lifestyle</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container w-container">
    <div class="divider margin-top-128"></div>
</div>
<div class="section recent-posts wf-section">
    <div class="container w-container">
        <div class="content-wrapper recent-posts">
            <h2 class="title recent-posts">Recent posts</h2>
            <a href="../blog.html" class="button-secondary w-button">View all posts</a>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="recent-posts-list w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="day-trips-around-arizona.html"
                           aria-current="page"
                           class="link-block card-image w-inline-block w--current">
                            <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201-p-500.jpeg  500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201-p-800.jpeg  800w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg        2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="../category/europe"
                                   class="category-badge w-inline-block"><div>Europe</div></a>
                            </div>
                            <a href="day-trips-around-arizona.html"
                               aria-current="page"
                               class="link-block recent-post w-inline-block w--current">
                                <h3 class="title recent-post">
                                    Day trips around Arizona
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">8 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="a-perfect-10-day-italy-road-trip-itinerary.html"
                           class="link-block card-image w-inline-block">
                            <img src="~/Images/BlogImages/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image-p-500.jpeg  500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb39d3ab7d7809fd32f3d2_Italy%20Main%20Image.jpg        2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="../category/ocean"
                                   class="category-badge w-inline-block"><div>Ocean</div></a>
                            </div>
                            <a href="a-perfect-10-day-italy-road-trip-itinerary.html"
                               class="link-block recent-post w-inline-block">
                                <h3 class="title recent-post">
                                    A perfect 10-day Italy road trip itinerary
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">12 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="card">
                        <a href="tips-for-getting-around-in-rome"
                           class="link-block card-image w-inline-block">
                            <img src="~/Images/BlogImages/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image.jpg"
                                 loading="lazy"
                                 alt=""
                                 sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 27vw"
                                 srcset="
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-500.jpeg   500w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-800.jpeg   800w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image-p-1080.jpeg 1080w,
                      https://uploads-ssl.webflow.com/60e5cb5a711f56cbb093d07c/60eb45d9f4e0792d6a71ebd1_Rome%20Main%20Image.jpg         2624w
                    "
                                 class="image card-image" />
                        </a>
                        <div class="content-wrapper card-info">
                            <div class="card-category-badge">
                                <a href="../category/europe"
                                   class="category-badge w-inline-block"><div>Europe</div></a>
                            </div>
                            <a href="tips-for-getting-around-in-rome"
                               class="link-block recent-post w-inline-block">
                                <h3 class="title recent-post">
                                    Tips for getting around in Rome
                                </h3>
                            </a>
                            <div class="date-read-time">
                                <div class="tagline card-tagline">July 9, 2021</div>
                                <div class="tagline tagline-divider">•</div>
                                <div class="tagline card-tagline">5 min read</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

