@model List<Blog>
@{
    ViewData["Title"] = "Index";
}

<div class="section categories-hero wf-section">
    <div class="container w-container">
        <div class="content-wrapper category-hero">
            <h1 class="title">Explore all Vacation blogs<br /></h1>
        </div>
    </div>
    <div class="blog-hero-image-wrapper">
        <img src="~/Images/60e87f72aa97d315a16bc581_Blogs%20Hero.jpg"
             loading="lazy"
             width="640"
             alt=""
             class="image blog-hero" />
    </div>
    <img src="https://uploads-ssl.webflow.com/60e5cb5a711f56fa1893d065/60e5cb5a711f565bcb93d0ba_Pattern Right.svg"
         loading="lazy"
         alt=""
         class="pattern-right-half" />
</div>
<div class="section blog wf-section">
    <div class="container w-container">
        <div class="content-wrapper author-posts-top">
            <h2 class="title author-posts">Blog posts</h2>
        </div>
        <div class="content-wrapper">
            <div class="w-dyn-list">
                <div role="list" class="collection-list all-posts w-dyn-items">
                    @foreach (var blog in Model)
                    {
                        <div role="listitem" class="w-dyn-item">
                            <div class="card">
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"
                                   class="link-block card-image w-inline-block">
                                    <img src="~/Images/BlogImages/60e8cf45bedf1f9929f8cc22_Arizona%201.jpg"
                                         loading="lazy"
                                         data-w-id="24d74fe8-2c56-abe2-2346-a496e7b8d39b"
                                         alt=""
                                         class="image card-image" />
                                </a>
                                <div class="content-wrapper card-info">
                                    <div class="card-category-badge">
                                        <a href="post/day-trips-around-arizona.html"
                                           class="category-badge w-inline-block"><div>Europe</div></a>
                                    </div>
                                    <a href="post/day-trips-around-arizona.html"
                                       class="link-block recent-post w-inline-block">
                                        <h3 class="title recent-post">
                                           @blog.Title
                                        </h3>
                                    </a>
                                    <div class="date-read-time">
                                        <div class="tagline card-tagline">@blog.CreatedDate.ToString("yyyy-mmm-dd")</div>
                                        <div class="tagline tagline-divider">•</div>
                                        <div class="tagline card-tagline">8 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

